body {
    background-color: white;
    text-align: center;
}

input#limpo{
    margin-top: 10px;
}

form#tabela{
    border: 1px solid black;
    background-color: rgb(201, 201, 201);
}

form#tabela tr {
    display: block;
    margin-left: 185px;
    margin-top: 10px;
}

form#tabela td {
    width: 600px;
    padding-bottom: 10px;
    text-align: justify;
    border-top: 1px solid black;
}

form#tabela button{
    display:block;
    float: right;
    margin-top: -17px;
    border:none;
    background-color: rgba(0,0,0, 0);
}

form#tabela tr li{
    
    text-align: right;
    display:block;
    margin-right: 180px;
    padding-bottom: 10px;

}

form#tabela tr li button{
    background-color: rgba(0,0,0, 0);
    border: none;
}

header {
    background-color: black;
    color: white;
}